<div class="admin-contenedor">
  <h1 class="panel-titulo">Panel de Administración</h1>

  <div class="admin-seccion">
    <a routerLink="/admin/dashboard" routerLinkActive="tab-activa" class="tab-link">Dashboard</a>
    <a routerLink="/admin/canchas" routerLinkActive="tab-activa" class="tab-link">Canchas</a>
    <a routerLink="/admin/reservas" routerLinkActive="tab-activa" class="tab-link">Reservas</a>
    <a routerLink="/admin/usuarios" routerLinkActive="tab-activa" class="tab-link">Usuarios</a>
    <a routerLink="/admin/consultas" routerLinkActive="tab-activa" class="tab-link">Consultas</a>
    <a routerLink="/admin/configuracion" routerLinkActive="tab-activa" class="tab-link">Configuración</a>
  </div>

  <div class="admin-contenido">
    <div class="contenido-header">
      <h3>Control de Reservas Actuales</h3>
      <button class="btn-nuevo" (click)="abrirHistorial()">Ver Historial General</button>
    </div>

    <table class="admin-tabla">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Cancha</th>
          <th>Fecha</th>
          <th>Horario</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (item of listaReservas; track $index) {
          @if (esMayorFechaActual(item.fecha)) {
            <tr>
              <td>{{obtenerUsuarioCancha(item.id!).usuario?.nombre}}</td>
              <td>{{obtenerUsuarioCancha(item.id!).cancha?.nombre}}</td>
              <td>{{item.fecha}}</td>
              <td>{{formatearHora(item.horaInicio)}} - {{formatearHora(item.horaFin)}}</td>
              <td><span class="badge" [ngClass]="obtenerClaseEstado(item.estado)">{{item.estado}}</span></td>
              <td>
                <button class="btn-confirmar" title="Confirmar Reserva" (click)="cambiarEstadoComfirmado(item)" [class.btn-deshabilitado]="item.estado==='COMFIRMADA'">Aceptar</button>
                <button class="btn-cancelar" title="Cancelar Reserva" (click)="cambiarEstadoCancelada(item)" [class.btn-deshabilitado]="item.estado==='CANCELADA'">Rechazar</button>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  @if (mostrarHistorial) {
    <div class="historial-capa">
      <div class="historial-ventana">
        
        <div class="historial-header">
          <h3>Historial General de las Reservas</h3>
          <button class="btn-cerrar" (click)="cerrarHistorial()">✕</button>
        </div>

        <div class="historial-cuerpo">
          <div class="buscador-bloque">
            <input type="text" placeholder="Buscar por nombre de cancha..." class="input-buscar" [(ngModel)]="nombreCanchaReservaBuscada" (keyup.enter)="buscarHistorialPorNombre()">
          </div>

          <table class="historial-tabla">
            <thead>
              <tr>
                <th>Reserva ID</th>
                <th>Cancha</th>
                <th>Usuario</th>
                <th>Estado Anterior/Nuevo</th>
                <th>Fecha de Cambio</th>
              </tr>
            </thead>
            
            <tbody>
              @for (item of historialReserva; track $index) {
                <tr>
                  <td>#{{item.reservaId}}</td>
                  <td>{{obtenerUsuarioCancha(item.reservaId).cancha?.nombre}}</td>
                  <td>{{obtenerUsuarioCancha(item.reservaId).usuario?.nombre}}</td>
                  <td><span class="badge confirmado">{{item.estado}}</span></td>
                  <td>
                    {{obtenerUsuarioCancha(item.reservaId).reserva?.fecha}}
                    <br>
                    {{formatearHora(obtenerUsuarioCancha(item.reservaId).reserva?.horaInicio!)}}
                    -
                    {{formatearHora(obtenerUsuarioCancha(item.reservaId).reserva?.horaFin!)}}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

      </div>
    </div>
  }
</div>