<div class="admin-contenedor">
  <h1 class="panel-titulo">Panel de Administración</h1>

  <div class="admin-seccion">
    <a routerLink="/admin/canchas" routerLinkActive="tab-activa" class="tab-link">Canchas</a>
    <a routerLink="/admin/reservas" routerLinkActive="tab-activa" class="tab-link">Reservas</a>
    <a routerLink="/admin/pagos" routerLinkActive="tab-activa" class="tab-link">Pagos</a>
    <a routerLink="/admin/usuarios" routerLinkActive="tab-activa" class="tab-link">Usuarios</a>
    <a routerLink="/admin/consultas" routerLinkActive="tab-activa" class="tab-link">Consultas</a>
  </div>

  <div class="admin-contenido">
    <div class="contenido-header">
      <h3>Gestión de Canchas Deportivas</h3>
      <button class="btn-nuevo" (click)="abrirTablaCrear()">+ Nueva Cancha</button>
    </div>

    <table class="admin-tabla">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio/Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (item of cancha; track $index) {
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>S/. {{item.precioHora.toFixed(2)}}</td>
            <td><span class="badge" [ngClass]="obtenerClaseEstado(item.estado)">{{obtenerTextoEstado(item.estado)}}</span></td>
            <td>
              <button class="btn-editar" (click)="mostrarTablaEditar(item)">✏️</button>
              <button class="btn-borrar" (click)="eliminarCancha(item.id)">🗑️</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if(mostrarTabla) {
    <div class="cancha-capa">
      <div class="cancha-ventana">
        <div class="cancha-header">
          <h3>{{ esEdicion ? 'Editar Cancha Registrada' : 'Registrar Nueva Cancha' }}</h3>
          <button class="btn-cerrar" (click)="cerrarTabla()">X</button>
        </div>

        <div class="cancha-cuerpo">
          <form class="formulario-cancha" [formGroup]="formularioCancha" (ngSubmit)="onSubmit()">
            <div class="campo-grupo">
              <label>Nombre de la Cancha:</label>
              <input type="text" placeholder="Ej: Cancha Grass 2" class="input-cancha" formControlName="nombreCancha">
              @if (formularioCancha.get('nombreCancha')?.touched && formularioCancha.get('nombreCancha')?.invalid) {
                <small>Escriba un nombre para la cancha valido</small>
              }
            </div>

            <div class="campo-grupo">
              <label>Precio por Hora (S/.):</label>
              <input type="number" placeholder="Ej: 80.00" class="input-cancha" min="0" formControlName="precioHora">
              @if (formularioCancha.get('precioHora')?.touched && formularioCancha.get('precioHora')?.invalid) {
                <small>Escriba un precio valido</small>
              }
            </div>

            <div class="campo-grupo">
              <label>Estado Operativo:</label>
              <select class="select-cancha" formControlName="estado" [class.placeholder]="!formularioCancha.get('estado')?.value">
                <option value="" disabled hidden>Seleccione un estado</option>
                <option value="true">Disponible</option>
                <option value="false">No Disponible</option>
              </select>
              @if (formularioCancha.get('estado')?.touched && formularioCancha.get('estado')?.invalid) {
                <small>Seleccione un estado valido</small>
              }
            </div>

            <div class="campo-grupo completo">
              <label>Descripción del Espacio:</label>
              <textarea placeholder="Detalles de la cancha..." class="textarea-cancha" rows="3" formControlName="descripcion"></textarea>
              @if (formularioCancha.get('descripcion')?.touched && formularioCancha.get('descripcion')?.invalid) {
                <small>Escriba una descripcion valida</small>
              }
            </div>

            <div class="formulario-acciones">
              <button type="button" class="btn-cancelar-modal" (click)="cerrarTabla()">Cancelar</button>
              <button type="submit" class="btn-guardar-cancha">{{ esEdicion ? 'Guardar Cambios' : 'Crear Cancha' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  }
</div>