<main>
  <section class="bannerPrincipal">
    <div>
      <h1>Reserva tu cancha en segundos</h1>

      <p>Disfruta del deporte sin complicaciones. Elige, reserva y juega.</p>

      <button routerLink="/canchas">Ver canchas</button>
    </div>
  </section>

  <section class="beneficios">
    <h2>¿Por qué elegirnos?</h2>

    <div>
      <div class="tarjeta">
        <h3>⚡ Rápido</h3>
        <p>Reserva en menos de un minuto.</p>
      </div>

      <div class="tarjeta">
        <h3>📅 Disponible</h3>
        <p>Consulta horarios en tiempo real.</p>
      </div>

      <div class="tarjeta">
        <h3>🔒 Seguro</h3>
        <p>Protección de datos garantizada.</p>
      </div>
    </div>
  </section>

  <section class="canchas">

    <h2>Últimas canchas agregadas</h2>

    @if (cargando) {
    } @else if (hayCanchasDisponibles) {

      <div class="slider">

        <div class="slider-track">

          @for (cancha of canchasDestacadas; track cancha.id) {

            <div class="tarjeta-cancha">

              <img
                src="https://static.vecteezy.com/system/resources/thumbnails/000/104/368/small/free-soccer-field-vector.jpg"
                [alt]="cancha.nombre">

              <h3>{{ cancha.nombre }}</h3>

              <p>{{ cancha.descripcion }}</p>

              <span>S/. {{ cancha.precioHora }} / hora</span>

              <button
                class="btn-reservar"
                (click)="reservar(cancha)">

                Reservar

              </button>

            </div>

          }

          @for (cancha of canchasDestacadas; track 'copia-' + cancha.id) {

            <div class="tarjeta-cancha">

              <img
                src="https://static.vecteezy.com/system/resources/thumbnails/000/104/368/small/free-soccer-field-vector.jpg"
                [alt]="cancha.nombre">

              <h3>{{ cancha.nombre }}</h3>

              <p>{{ cancha.descripcion }}</p>

              <span>S/. {{ cancha.precioHora }} / hora</span>

              <button
                class="btn-reservar"
                (click)="reservar(cancha)">

                Reservar

              </button>

            </div>

          }

        </div>

      </div>

    } @else {

      <div class="sinCanchas">
        <p>No hay canchas disponibles por el momento.</p>
      </div>

    }

  </section>
</main>