<main>
  <section class="consulta">
    <div class="lado-izquierdo">

      <h2>¿Necesitas ayuda?</h2>
      <p>Si tienes alguna duda, inconveniente o sugerencia relacionada con
        nuestras canchas o reservas, puedes enviarnos una consulta.</p>

      <img src="image/consulta.png" alt="Atención al cliente">

      <div class="contacto">
        <h3>Información del contacto</h3>

        <ul>
            <li>montecarlo@gmail.com</li>
            <li>+51 999 999 999</li>
            <li>Lunes a Domingo de 8:00 a.m. a 10:00 p.m.</li>
        </ul>
      </div>

    </div>

    <div class="lado-derecho">
      <h2>Formulario de Consulta</h2>
      <form [formGroup]="formularioConsulta" (ngSubmit)="enviarConsulta()">

        <div class="campo">
          <label for="asunto">Tipo de Consulta</label>

          <select
            id="asunto"
            formControlName="asunto">

            <option value="">Seleccione una opción</option>
            <option value="Consulta General">Consulta General</option>
            <option value="Queja">Queja</option>
            <option value="Sugerencia">Sugerencia</option>
            <option value="Otro">Otro</option>

          </select>

          @if (formularioConsulta.get('asunto')?.touched &&
              formularioConsulta.get('asunto')?.errors?.['required']) {
            <small>Seleccione un tipo de consulta</small>
          }

        </div>

        <div class="campo">

          <label for="mensaje">Mensaje</label>

          <textarea
            id="mensaje"
            rows="8"
            placeholder="Ingrese aquí su consulta"
            formControlName="mensaje">
          </textarea>

          @if (formularioConsulta.get('mensaje')?.touched &&
              formularioConsulta.get('mensaje')?.errors?.['required']) {
            <small>Campo obligatorio</small>
          }

        </div>

        <button type="submit">
          Enviar Consulta
        </button>

      </form>

    </div>

  </section>
</main>