@use 'variables' as *;

footer {
  background: $primary-color;
  color: $text-color;
  text-align: center;
  padding: 20px;
  font-weight: bold;

  p {
    margin: 5px 0;
    font-size: $texto-responsivo;
  }
}

@media (max-width: 768px) {
  footer {
    p {
      font-size: 15px;
    }
  }
}