<main class="paginaCanchas">
  <h2>Nuestras Canchas</h2>

  <div class="contenedorCanchas">
    @for (item of canchas; track $index) {
      @if (item.estado==true) {
        <div class="tarjetaCancha">
        <img src="{{imagen}}" alt="Imagen de cancha deportiva">
      
        <div class="info">
          <h3>{{item.nombre}}</h3>
          <p>{{item.descripcion}}</p>
          <span>S/. {{item.precioHora}} por hora</span>
          <button (click)="irDetalles(item)">Reservar</button>
        </div>
      </div>
      }
    }
  </div>
</main>